body {
    font-family: Arial, sans-serif;
}

*{
    font-size: 12px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

thead th {
    background-color: #f2f2f2;
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

tbody td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    text-align: center;
    vertical-align: middle;
}
